[Desktop Entry]
Categories=Application;Utility;
Encoding=UTF-8
Exec=/usr/local/bin/Notepad
Icon=/usr/local/bin/Notepad.ico
Name=Notepad
Name[zh_CN]=记事本
StartupNotify=false
Terminal=false
Type=Application
X-MultipleArgs=false
